.venv
**/.venv
venv
**/venv

__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache

node_modules
**/node_modules

.git
.gitignore
.idea
.vscode
.DS_Store
Thumbs.db

logs
**/logs
*.log
tmp
temp

dist
build
**/dist
**/build